{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "describe": true,
        "it": true,
        "expect": true
    },
    "plugins": ["react"],
    "extends": ["eslint:recommended", "airbnb"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-unused-vars" : 0,
        "no-console" : 0
    }
}